#agenda{
    background-color: #f5f5f5;
    padding: 1rem;
}

.agenda-day:first-child h2{
    margin-top: 0;
}

.host{
    background-color: gold;
    color: navy;
    border-radius: 0.2rem;
    font-weight: bold;
    margin: 0.2rem;
}

ul{
}
