input[type='radio']{
    height: 1rem;
    width: 1rem;
}

.day h1{
    font-size: 5rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meal button.status{
    color: grey;
}

.meal button.selected{
    background-color: blue;
    color: white;
}

.day{
    font-family: serif;
    background-color: #f6cc99;
    color: maroon;
    padding: 1rem;
    gap: 1rem;
    border-radius: 1rem;
}
.day.today{
    background-color: #DA7c95;
    color: white;
}
.day-letter{
    font-size: 5rem;
    width: 5rem;
}
.meal{
    font-size: 1rem;
    font-family: sans-serif;
}

.action-prompt h1{
    margin: 0;
    padding: 0;
}

.action-prompt button{
    padding: 1rem;
}

.action-prompt input{
    font-size: 120%;
}
