body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

iframe{
    border: none;
    height: 1rem;
}

#ww-main{
}

.ww-cell{
    background-color: white;
    min-width: 20rem;
    min-height: 1rem;
}

.ww-load{
    height: 100%;
    width: 100%;
    background: url('/static/kappa.svg') no-repeat center;
}

#timeanddate{
    font-size: 2rem;
    font-weight: normal;
    background-color: #f6cc99;
    color: maroon;
    padding: 0.5rem;
}

/*  css for when rendered on a mobile device */
@media only screen and (max-width: 600px){
    #ww-main{
        padding: 0.5rem;
        flex-direction: column;
    }

    iframe{
        border-bottom: 2px solid #black;
    }

    #timeanddate{
        height: fit-content;
    }

    #ww-top{
        flex-direction: column;
        display: none;
    }
}
